<% layout('./layouts/boilerplate') %>
<% block('head').append("<script src='https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js'></script>") %>
    <% block('head').append("<link href='https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css' rel='stylesheet' />") %>
    <!-- ---------------------- MAP --------------------------------- -->
    <div class="mb-3" id="cluster-map"></div>
    <!-- ---------------------- MAP END ----------------------------- -->
    <h1>All Campgrounds</h1>
    <a class="btn btn-outline-secondary mb-3" href="/campgrounds/new">Add New Campground</a>
    <% for(let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if (campground.images.length) { %>
                        <img src="<%= campground.images[0].url %>" alt="" class="img-fluid">
                    <% } else { %>
                        <img src="/images/default_Camp.jpg" alt="" class="img-fluid">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p>
                            <%= campground.description.slice(0,100) + '...' %>
                        </p>
                        <h6 class="card-subtitle text-muted">
                            <%= campground.location %>
                        </h6>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-primary my-3">
                            View <%= campground.title %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <script>
            const mapBoxToken = '<%- process.env.MAPBOX_TOKEN %>';
            const campgrounds = {features: JSON.parse(`<%- JSON.stringify(campgrounds) %>`)};
        </script>
        <script src="/js/clusterMap.js"></script>

        