<%- include("../partials/header") %>

    <header class="jumbotron">
      <div class="container">
        <% if(!currentUser){ %>
          <h1>Welcome to YelpCamp!</h1>
        <% } else { %>
          <h1>Welcome back <%- currentUser.username %> </h1>
        <% } %>
        <p>View our hand-picked campgrounds</p>
        <p>
          <a class="btn btn-primary"href="/campgrounds/new">Add New Campground</a>
        </p>
        <div>
          <form class="form-inline" action="/campgrounds" method="GET">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="search"
                placeholder="campground search...">
              <button
                class="btn btn-primary"
                type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="col-lg-12">
        <% if(noMatch !== null) {%>
          <h3><%= noMatch %></h3>
          <h4>Try Searching for another Campground</h4>
          <i class="fas fa-campground fa-7x"></i>
        <% } else { %>
        <h3>Our Most Popular Campgrounds</h3>
        <% } %>
      </div>
    </div>

    <div class="row text-center allCamps">
      <% campgrounds.forEach(function(campground){ %>
         <div class="col-md-3 col-sm-6">
           <div class="thumbnail">
             <img src="<%= campground.image %>" alt="">
             <div class="caption">
               <h4><%= campground.name %></h4>
             </div>
             <p>
               <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
             </p>
           </div>
         </div>
      <% }); %>
    </div>

<%- include("../partials/footer") %>
