<% layout('./layouts/boilerplate') %>

    <% block('head').append('<link rel="stylesheet" href="/stylesheets/stars.css">')%>
    <% block('head').append("<script src='https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js'></script>") %>
    <% block('head').append("<link href='https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css' rel='stylesheet' />") %>
    <a href="/campgrounds" class="btn btn-primary">Go Back</a>

        <div class="row mb-3">
            <h1 class="text-center display-4">
                <%= campground.title %>
            </h1>
            <div class="col-md-6">

                <!-- <<< ---------------- MAP --------------- >>> -->
                <div id='map' style='width: 400px; height: 300px;' class="mb-3"></div>

                <!-- <<< -------------  Carousel  Start ------------------- >>>  -->
                <div id="campgroundCarousel" class="carousel slide mb-3" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% if (campground.images.length) { %>
                            <% campground.images.forEach((img, i) => { %>
                                <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                    <img src="<%= img.url %>" class="d-block w-100" alt="...">
                                </div>
                            <% }) %>
                        <% } else { %>
                            <img src="/images/default_Camp.jpg" alt="">
                        <% } %>
                        
                    </div>
                    <% if (campground.images.length > 1) { %>
                        <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    <% } %>
                </div>
                <!-- <<< -------------  Carousel    End ------------------- >>>  -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= campground.location %>
                        </h6>
                        <blockquote class="blockquote mb-0">
                            <p>Campground submitted by:</p>
                            <footer class="blockquote-footer">
                                <%= campground.author.username %>
                            </footer>
                        </blockquote>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">Price: <%= campground.price %>/night</p>
                        <% if (currentUser && campground.author.equals(currentUser._id)) { %>
                            <a class="btn btn-outline-primary" href="/campgrounds/<%= campground._id %>/edit">Edit
                                Campground</a>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <% if (currentUser) { %>
                    <a href="#collapseReview" class="btn btn-primary mt-3" data-bs-toggle="collapse">Leave A Review</a>
                    <% } else { %>
                        <a href="/login" class="btn btn-primary my-3">Login</a>
                        <p>Login to Leave A Review</p>
                        <% } %>

                            <div class="container collapse shadow py-2 my-3 rounded" id="collapseReview">
                                <h2 class="">Leave A Review</h2>
                                <form class="needs-validation" action="/campgrounds/<%= campground._id %>/reviews"
                                    novalidate method="POST">

                                    <fieldset class="starability-basic">
                                        <input type="radio" id="first-rate1" name="review[rating]" value="1" checked />
                                        <label for="first-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                        <label for="first-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                        <label for="first-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                        <label for="first-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                    </fieldset>

                                    <label class="form-label" for="body">Review</label>
                                    <textarea class="form-control" name="review[body]" id="body" required></textarea>
                                    <button class="btn btn-primary my-3">Submit</button>
                                </form>
                            </div>
                            <div class="container my-3 p-2 shadow rounded">
                                <h2>Reviews</h2>
                                <hr>
                                <% if (campground.reviews.length) { %>
                                    <% for(let review of campground.reviews) { %>
                                        <p class="starability-result" data-rating="<%= review.rating %>">
                                            Rated: <%= review.rating %> stars
                                        </p>
                                        <blockquote>
                                            <p>Review: <%= review.body %>
                                            </p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            <%= review.author.username %>
                                        </figcaption>
                                        <% if (currentUser && review.author.equals(currentUser._id)) { %>
                                            <form
                                                action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                                                method="POST">
                                                <button class="btn btn-sm btn-danger">Delete</button>
                                            </form>
                                        <% } %>
                                        <hr>
                                    <% } %>
                                <% } else { %>
                                    <p>No Reviews Yet</p>
                                <% } %>
                            </div>
            </div>
        </div>
        <script>
            const mapBoxToken = '<%- process.env.MAPBOX_TOKEN %>';
            const campground = JSON.parse(`<%- JSON.stringify(campground) %>`);
        </script>
        <script src="/js/mapBox.js"></script>

